<!DOCTYPE html>
<html>
  <head>
    <title>Form Submit</title>
    <style>
      form {
        width: 500px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
      }

      h2 {
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 30px;
      }

      label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      input[type='text'],
      textarea {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
        font-size: 16px;
      }

      input[type='submit'] {
        background-color: #4caf50;
        color: #fff;
        border: none;
        padding: 12px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }

      input[type='submit']:hover {
        background-color: #3e8e41;
      }
    </style>
    <style>
    .error {
      color: red;
    }
  </style>
  </head>
  <body>
    <h2>Cập nhật sản phẩm</h2>
    <!-- <form action="./store" method="post">
      <label for="name">Tên sản phẩm:</label>
      <input type="text" id="name" name="name" /><br /><br />

      <label for="description">Mô tả:</label>
      <textarea id="description" name="description"></textarea><br /><br />

      <label for="price">Giá:</label>
      <input type="text" id="price" name="price" /><br /><br />

      <label for="nameDevice">Tên thiết bị:</label>
      <input type="text" id="nameDevice" name="nameDevice" /><br /><br />
      <label for="image">Link anh:</label>
      <input type="text" id="image" name="image" /><br /><br />
      <label for="rwVideo">ID youtube:</label>
      <input type="text" id="rwVideo" name="rwVideo" /><br /><br />
      <label for="slug">Slug:</label>
      <input type="text" id="slug" name="slug" /><br /><br />
      <input type="submit" name="submit" value="Submit" />
    </form> -->

    <form id='get' action="/device/<%= device._id %>" method="PUT">
    <label for="product-name">Tên sản phẩm:</label>
    <input value='<%= device.name %>' type="text" id="name" name="name" required>

    <label for="description">Mô tả:</label>
    <textarea id="description" name="description" required><%= device.description %></textarea>

    <label for="price">Giá:</label>
    <input value='<%= device.price %>' type="number" id="price" name="price" required>

    <label for="device-name">Tên thiết bị:</label>
    <input value='<%= device.nameDevice %>' type="text" id="nameDevice" name="nameDevice"  required>

    <label for="image-link">Link ảnh:</label>
    <input value='<%= device.image %>' type="url" id="image" name="image"  required>

    <label for="youtube-id">ID YouTube:</label>
    <input value='<%= device.rwVideo %>'  type="text" id="rwVideo" name="rwVideo" required>

    <label for="slug">Slug:</label>
    <input value='<%= device.slug %>' type="text" id="slug" name="slug"  required>

    <input type="submit" id='submit' name="submit" value="Submit" />
  </form>
  <!-- <script>
  document.querySelector('form').addEventListener('submit', function(event) {
    
    const nameDv = document.getElementById('name');
    const onOff = document.getElementById('get')

    
      const maxLength = 20; // Giới hạn độ dài là 50 ký tự
      
      if (nameDv.value.length > maxLength ) {
       nameDv.classList.add('error');
       alert('Kiểm tra lại thông tin ')
       onOff.action= 'null';
      }
      else{
       onOff.action= './store';
       nameDv.classList.remove('error');
     
      }
    

    
  });
</script> -->

  </body>
</html>
